.beton_page{

}
.notation>p{
    margin: 5px;
    font-size: .7rem;
}
.header{
    height:3rem;
    display: flex;
    flex-flow: row nowrap;
    background-color:#C0C0C0 ;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
}
.header_title{
    width: 30%;
    font-family: inglobal;
}
.header_title>p{
    margin: 10px;
}
.header_button_box{
    width:65%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.sort_select{
    width: 20%;
    height: 1.2rem;
}
.content_wrap{
    margin-top: 1rem;
    width: 100%;
    height: 77vh;
    overflow-y: scroll;
}
.content_wrap::-webkit-scrollbar {
    width: 7px;
}
.content_wrap::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content_wrap::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.content_wrap::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.content{
    margin-bottom: 1.5rem;

}
.content_box{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.content_left{
    width: 65%;
}
.content_right{
    width: 30%;
}
.table_title{
    font-style: italic;
    font-weight: bold;
}

.table_box_mat{
    border:1px dotted black;
    padding:15px;
    height: 45vh;
}
.table_box_det{
    border:1px dotted black;
    padding:15px;
    height: 65vh;
}
.table{
    height: 98%;
    width:100%;
    margin:auto;
}
.thead{
    height: 10%;
    width: 98%;
}
.thead_det{
    height: 10%;
    width: 99%;
}
.tbody{
    margin-top: 3px;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
.table_row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 3px;
}
.table_item_head{
    border:1px solid gray;
    text-align: center;
    font-style: italic;
}
.table_item_body, .table_item_body_bd{
    border:1px dotted gray;
    padding: .6% 0;
    text-align: center;
}
.table_item_head:first-of-type{
    width: 10%;
}
.table_item_head:nth-of-type(2){
    width: 50%;
}
.table_item_head:nth-of-type(3){
    width: 10%;
}
.table_item_head:nth-of-type(4){
    width: 10%;
}
.table_item_head:nth-of-type(5){
    width: 10%;
}
.table_item_head:nth-of-type(6){
    width: 10%;
}

.table_item_body:first-of-type{
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(2){
    width: 50%;
    padding-left: 1%;
}
.table_item_body:nth-of-type(3){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(4){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(5){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(6){
    width: 10%;
    text-align: center;
}





/*------table detail-------------*/
.beton_detail_section{
    width: 100%;
}




.table_item_head_bd,
.table_stone_head_bd,
.table_gds_item_head{
    font-size: .7rem;
    border:1px solid gray;
    text-align: center;
    font-style: italic;
}
.table_item_head_bd:first-of-type{
    width: 10%;
}
.table_item_head_bd:nth-of-type(2){
    width: 15%;
}
.head_up{
    height: 50%;
}
.head_down{
    height: 50%;
    display:flex;
    flex-flow: row nowrap;
}
.table_size{
    width: 33%;
    border:1px dotted gray;
}
.table_item_head_bd:nth-of-type(3){
    width: 7%;
}
.table_item_head_bd:nth-of-type(4){
    width: 7%;
}
.table_item_head_bd:nth-of-type(5){
    width: 10%;
}
.table_item_head_bd:nth-of-type(6){
    width: 7%;
}
.table_item_head_bd:nth-of-type(7){
    width: 7%;
}
.table_item_head_bd:nth-of-type(8){
    width: 7%;
}
.table_item_head_bd:nth-of-type(9){
    width: 7%;
}
.table_item_head_bd:nth-of-type(10){
    width: 7%;
}
.table_item_head_bd:nth-of-type(11){
    width: 7%;
}
.table_item_head_bd:nth-of-type(12){
    width: 5%;
}
.table_item_head_bd:nth-of-type(13){
    width: 5%;
}


.table_item_body_bd:first-of-type{
    width: 10%;
}
.table_item_body_bd:nth-of-type(2){
    width: 5%;
}
.table_item_body_bd:nth-of-type(3){
    width: 5%;
}
.table_item_body_bd:nth-of-type(4){
    width: 5%;
}
.table_item_body_bd:nth-of-type(5){
    width: 7%;
}
.table_item_body_bd:nth-of-type(6){
    width: 7%;
}
.table_item_body_bd:nth-of-type(7){
    font-size: .8rem;
    width: 10%;
}
.table_item_body_bd:nth-of-type(8){
    width: 7%;
}
.table_item_body_bd:nth-of-type(9){
    width: 7%;
}
.table_item_body_bd:nth-of-type(10){
    width: 7%;
}
.table_item_body_bd:nth-of-type(11){
    width: 7%;
}
.table_item_body_bd:nth-of-type(12){
    width: 7%;
}
.table_item_body_bd:nth-of-type(13){
    width: 7%;
}
.table_item_body_bd:nth-of-type(14){
    width: 5%;
}
.table_item_body_bd:nth-of-type(15){
    width: 5%;
}

/*------------TABLE_STONE--------------------------------------------*/
.stone_box{
    width: 100%;
}
.table_stone_head_bd:nth-of-type(1) {
    width:10%;
}
.table_stone_head_bd:nth-of-type(2){
    width:10%;
}
.table_stone_head_bd:nth-of-type(3){
    width:10%;
}
.table_stone_head_bd:nth-of-type(4){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(5){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(6){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(7){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(8){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(9){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(10){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(11){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(12){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(13){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(14){
    width:10%;
}
.table_stone_head_bd:nth-of-type(15){
    width: 5%;
}
.table_stone_head_bd:nth-of-type(16){
    width: 5%;
}

.table_stone_item_bd{
    text-align: center;
    font-size: .9rem;
    border: 1px dotted gray;

}
.table_stone_item_bd:nth-of-type(1) {
    width:10%;
}
.table_stone_item_bd:nth-of-type(2){
    width:10%;
}
.table_stone_item_bd:nth-of-type(3){
    width:10%;
}
.table_stone_item_bd:nth-of-type(4){
    width:5%;
}
.table_stone_item_bd:nth-of-type(5){
    width:5%;
}
.table_stone_item_bd:nth-of-type(6){
    width:5%;
}
.table_stone_item_bd:nth-of-type(7){
    width:5%;
}
.table_stone_item_bd:nth-of-type(8){
    width:5%;
}
.table_stone_item_bd:nth-of-type(9){
    width:5%;
}
.table_stone_item_bd:nth-of-type(10){
    width:5%;
}
.table_stone_item_bd:nth-of-type(11){
    width:5%;
}
.table_stone_item_bd:nth-of-type(12){
    width:5%;
}
.table_stone_item_bd:nth-of-type(13){
    width:5%;
}
.table_stone_item_bd:nth-of-type(14){
    width:10%;
}
.table_stone_item_bd:nth-of-type(15){
    width: 5%;
}
.table_stone_item_bd:nth-of-type(16){
    width: 5%;
}
/*-------------TABLE GDS---------------*/

.table_gds_item{
    text-align: center;
    font-size: .9rem;
    border: 1px dotted gray;

}
.table_gds_item_head:nth-of-type(1){
    width: 10%;
}
.table_gds_item_head:nth-of-type(2){
    width: 10%;
}
.table_gds_item_head:nth-of-type(3){
    width: 10%;
}
.table_gds_item_head:nth-of-type(4){
    width: 5%;
}
.table_gds_item_head:nth-of-type(5){
    width: 10%;
}
.table_gds_item_head:nth-of-type(6){
    width: 5%;
}
.table_gds_item_head:nth-of-type(7){
    width: 5%;
}
.table_gds_item_head:nth-of-type(8){
    width: 5%;
}
.table_gds_item_head:nth-of-type(9){
    width: 5%;
}
.table_gds_item_head:nth-of-type(10){
    width: 5%;
}
.table_gds_item_head:nth-of-type(11){
    width: 5%;
}
.table_gds_item_head:nth-of-type(12){
    width: 10%;
}
.table_gds_item_head:nth-of-type(13){
    width: 5%;
}
.table_gds_item_head:nth-of-type(14){
    width: 5%;
}
.table_gds_item_head:nth-of-type(15){
    width: 5%;
}

.table_gds_item:nth-of-type(1){
    width: 10%;
}
.table_gds_item:nth-of-type(2){
    width: 10%;
}
.table_gds_item:nth-of-type(3){
    width: 10%;
}
.table_gds_item:nth-of-type(4){
    width: 5%;
}
.table_gds_item:nth-of-type(5){
    width: 10%;
}
.table_gds_item:nth-of-type(6){
    width: 5%;
}
.table_gds_item:nth-of-type(7){
    width: 5%;
}
.table_gds_item:nth-of-type(8){
    width: 5%;
}
.table_gds_item:nth-of-type(9){
    width: 5%;
}
.table_gds_item:nth-of-type(10){
    width: 5%;
}
.table_gds_item:nth-of-type(11){
    width: 5%;
}
.table_gds_item:nth-of-type(12){
    width: 10%;
}
.table_gds_item:nth-of-type(13){
    width: 5%;
}
.table_gds_item:nth-of-type(14){
    width: 5%;
}
.table_gds_item:nth-of-type(15){
    width: 5%;
}


