.section_content{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: start;
    justify-content: space-around;
}
.form_main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.drop_list{
    margin: 5px 15px;
    cursor:pointer;
    border-bottom:1px dotted gray;
}
.drop_list>p{
    margin: 0;
}
.hidden{
    display: none;
}
.form_title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: inglobal;
    height: 2rem;
    width: 90%;
    text-align: center;
    font-weight: bold;
}
.form_title_into{
    margin-top:0;
    margin-bottom: 5px;
}
.compl_form{
    height: 15%;
    width: 90%;
}
label{
    font-family: inglobal;
    color: gray;
}
legend{
    color: #D3D3D3;
    font-style: italic;
}
fieldset{
    background-color: white;
}
.form_body{
    position:relative;
    display: flex;
    width: 95%;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.form_section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
}
.list_block{
    display: block;
    position: absolute;
    top: 22%;
    left: 46%;
    width: 250px;
    height: 300px;
    overflow: auto;
    background-color: #F0FFF0;
    border-radius: 4px;
    border: 1px dotted gray;
    z-index: 9999;
 }
.customer_list_item{
    cursor: pointer;
}
.customer_list_item:hover{
    background-color: dimgrey;
    color:beige;
}
.form_section>input{
    height: 1.8rem;
    width: 50%;
}
.form_section>select{
    height: 2rem;
    width: 50%;
}
.size_section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.size_section div{
    width: 15%;
}
.size_section div>input, select{
    width: 100%;
    height: 1.8rem;
}

.details_form{
    height: 75%;
    width: 90%;
}
.correct_box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.correct_box>input{
    width: 70px;
    height: 1.2rem;
    margin-left: 7px;
}
.correct_box>p{
    margin-left: 7px;
}
.table_box{
    width: 59%;
    height: 100%;
    overflow: auto;
}
.check_box{
    height: 3rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.hydro_box{
    display: flex;
    flex-flow: row nowrap;
}
.hydro_box>input{
    width: 40px;
}
.text_box{
    width: 100%;
}
.text_sketch_box>textarea{
    width: 59%;
    height: 10rem;
}
.button_box{
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}
.button_box>button{
    height: 2.5rem;
    width: 180px;
    margin-right: 2rem;
    border-radius: 5px;
    border:2px solid forestgreen;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
.add_button{
    height: 1.8rem;
    border-radius: 5px;
    border:1px solid seagreen;
    color: seagreen;
    cursor: pointer;
}
.compl_title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.compl_title>p{
    cursor: pointer;
}
.del_but{
    width: 100px;
    height: 2.5rem;
    margin-right: 15px;
}
.active_compl{
    font-weight: bold;
    border-bottom: 2px solid red;
}
.kassa_sec{
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.kassa_sec>div:nth-of-type(2){
    width: 40%;
}
.kassa_item{
    width: 25%;
}
.termin_box{
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.termin_box div{
    width: 85%;
}
.termin_box div>input, select{
    width: 100%;
    height: 1.8rem;
}
.avans_button{
    text-align: center;
    width: 170px;
    height: 2.5rem;
    border:1px solid gray;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    background-color: beige;
}
.avans_button>p{
    font-family: inglobal;
    color: dimgrey;
    font-weight: bold;
    margin-top: .5rem;
}
.avans_button:active{
    box-shadow: none;
}
.sketchSelect{
    text-align: center;
    width: 170px;
    height: 2.5rem;
    border:1px solid gray;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    background-color: beige;
}
.sketchSelect>p{
    font-family: inglobal;
    color: dimgrey;
    font-weight: bold;
    margin-top: .5rem;
}
.sketchSelect:active{
    box-shadow: none;
}
.text_sketch_box{
    display: flex;
    flex-flow: row nowrap;
}
.sketch_list{
    width: 40%;
    padding: 5px;
}


.print_box{
    display: block;
    position: absolute;
    top:50%;
    background-color: #32CD32;
    text-align: center;
    width: 50vw;
    left: 25%;
}
.print_button_box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.hand_table{
    width: 100%;
}

.montaz_table_sec{
    margin-top: 20px;
}
.activeErr{
    position: absolute;
    top:10%;
    left:22%;
    text-align: center;
    font-family: inglobal;
    width:100px;
    height: 2.5rem;
    background-color: #FF0000;
    border-radius: 7px;
}
.activeErr>p{
    margin: 0;
    color: white;
}
.hide{
    display:none;
}
.sketch_box{
    width: 200px;
    text-align: center;
}
.sketch_box>label{
    width: 100%;
}

