.wrapper{
    width: 1050px;
    height: 1500px;
    margin-left: 70px;
    border:1px solid gray;
}
.head{
    border:1px solid gray;
    padding: 5px;
    text-align: center;
}
.head p{
    margin: 0;
    font-family: inglobal;
}
th{
    font-weight: 400;
    font-style: italic;
}
td{
    font-size: .9rem;
    padding-left: 5px;
}
.content_wrap{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.left_box{
    width: 50%;
    border-right: 1px solid gray;
}
.picture_box{
    height: 500px;
    border-bottom: 1px solid gray;
}
.sketchBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.sketch1{
    width: 400px;
}
.sketch2{
    width: 200px;
}
.sketch3{
    width: 100px;
}
.sketch1>img, .sketch2>img, .sketch3>img{
    width: 98%;
}

.information{
    height: 420px;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.text_box{
    height: 400px;
    border-bottom: 1px solid gray;
}
.text_box pre{
    text-align: center;
    font-family: inglobal;
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 2px;
}
.title{
    text-align: center;
    border-bottom: 1px solid gray;
    font-weight: 600;
}
.footer{
    display: flex;
    flex-flow: row nowrap;
}
.sign{
    height: 70px;
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.sign>div{
    width: 30%;
    border-bottom: 1px solid gray;
}
.right_box{
    width: 50%;
}
.details_box{
    min-height: 4rem;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.compl_table{
    width: 100%;
}
.montaz_info_sec{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.montaz_info_sec>p:first-of-type{
   width: 65%;
}
.montaz_info_sec>p{
    width: 35%;
}
