.upper_wrap{
    width: 100%;
    height: 500px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-flow: row nowrap;
}
.upper_box{
    width: 50%;
    height: 100%;
    border: 1px solid gray;
}
.customer_box{
    height: 150px;
    border-bottom: 1px solid gray;
}
.lbl{
    width: 100px;
    color: dimgrey;
}
.title_box{
    width: 100%;
    height: 1.2rem;
    border-bottom: 1px solid gray;
    text-align: center;
}
.cust_row{
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: start;

}
.img_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.sketch1{
    width: 400px;
}
.sketch2{
    width: 200px;
}
.sketch3{
    width: 100px;
}
.sketch1>img, .sketch2>img, .sketch3>img{
    width: 98%;
}

.img_box>img{
    width: 350px;
}
/*--COMPLECT-SEC--*/

.complect_box{
    width: 100%;
    height: 350px;
}
.complect_sec{
    width: 100%;
    height: 100%;
}
.comp_title{
    height: 1.6rem;
    border:2px solid black;
    text-align: center;
}
.comp_title>p{
    margin: 0;
}
.comp_body{
    width: 95%;
    margin: auto;
}
.comp_body_row{
    display: flex;
    flex-flow: row nowrap;
    height: 1rem;
    border-bottom: 1px dotted gray;
    justify-content: space-between;
}
.comp_body_row>p{
    margin: 0;
    font-size: .8rem;
}
/*------ MIDDLE HAND SEC-----------------*/

.check_box{
    width: 100%;
    margin: 20px 2%;
}
.check_box_row{
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px dotted black;
    align-content: space-around;
}
.check_box_elem{
    width: 50%;
}
.text_box{
    width: 100%;
}
.text_box>pre{
    text-align: center;
    font-size: 1.2rem;
}

/*------DOWN HAND SEC--------------*/

.down_box{
    width: 100%;
}

