.admin_box{
    height:3rem;
    display: flex;
    flex-flow: row nowrap;
    background-color:#C0C0C0 ;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
}
.notation>p{
    margin: 5px;
    font-size: .7rem;
}
.admin_box_title{
    width: 30%;
    font-family: inglobal;
}
.admin_box_title>p{
    margin: 10px;
}
.admin_button_box{
    width:65%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.admin_content{
    max-height: 79vh;
    overflow-y: scroll;
}
.admin_content::-webkit-scrollbar {
    width: 7px;
}
.admin_content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.admin_content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.admin_content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.left{
    width: 50vw;
    margin: 5px 5px 15px 5px;
}
.right{
    width: 35vw;
    margin: 5px 5px 15px 5px;
}


.table_title{
    font-style: italic;
    font-weight: bold;
}
.table_box{
    width: 50vw;
    border:1px dotted black;
    margin:5px;
}
.table_box_mat{

    border:1px dotted black;
    padding:15px;
    height: 45vh;
}
.table{
     height: 98%;
     width:100%;
     margin:auto;
 }
.thead{
    height: 10%;
    width: 98%;
}
.tbody{
    margin-top: 3px;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
.table_row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 3px;
}
.table_item_head{
    border:1px solid gray;
    text-align: center;
    font-style: italic;
}
.table_item_body{
    border:1px dotted gray;
    padding: .6% 0;
}
.table_item_head:first-of-type{
    width: 5%;
}
.table_item_head:nth-of-type(2){
    width: 50%;
}
.table_item_head:nth-of-type(3){
    width: 5%;
}
.table_item_head:nth-of-type(4){
    width: 10%;
}
.table_item_head:nth-of-type(5){
    width: 10%;
}
.table_item_head:nth-of-type(6){
    width: 10%;
}
.table_item_head:nth-of-type(7){
    width: 5%;
}
.table_item_head:nth-of-type(8){
    width: 5%;
}
.table_item_body:first-of-type{
    width: 5%;
    text-align: center;
}
.table_item_body:nth-of-type(2){
    width: 50%;
    padding-left: 1%;
}
.table_item_body:nth-of-type(3){
    width: 5%;
    text-align: center;
}
.table_item_body:nth-of-type(4){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(5){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(6){
    width: 10%;
    text-align: center;
}
.table_item_body:nth-of-type(7){
    width: 5%;
}
.table_item_body:nth-of-type(8){
    width: 5%;
}


.table_item_head_work{
    border:1px solid gray;
    text-align: center;
    font-style: italic;
}

.table_item_body_work{
    border:1px dotted gray;
    padding: .6% 0;
}
.table_item_head_work:first-of-type{
    width: 15%;
}
.table_item_head_work:nth-of-type(2){
    width: 50%;
}
.table_item_head_work:nth-of-type(3){
    width: 5%;
}
.table_item_head_work:nth-of-type(4){
    width: 10%;
}
.table_item_head_work:nth-of-type(5){
    width: 10%;
}
.table_item_head_work:nth-of-type(6){
    width: 10%;
}
.table_item_body_work:first-of-type{
    width: 15%;
    text-align: center;
}
.table_item_body_work:nth-of-type(2){
    width: 50%;
    padding-left: 1%;
}
.table_item_body_work:nth-of-type(3){
    width: 5%;
    padding-left: 1%;
}
.table_item_body_work:nth-of-type(4){
    width: 10%;
    padding-left: 1%;
}
.table_item_body_work:nth-of-type(5){
    width: 7%;
    padding-left: 1%;
}
.table_item_body_work:nth-of-type(6){
    width: 7%;
    padding-left: 1%;
}


