.content_box{
    width: 100%;
}
.header{
    height:3rem;
    display: flex;
    flex-flow: row nowrap;
    background-color:#C0C0C0 ;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
}
.header_title{
    width: 30%;
    font-family: inglobal;
}
.header_title>p{
    margin: 10px;
}
.header_button_box{
    width:65%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.content{
    margin-top: 1rem;
    width: 100%;
    height: 77vh;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
    width: 7px;
}
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.table_container{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}
.table_title_row {
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    height: 68px;
}
.table_users{
    width:30%;
    border:1px solid gray;
}
.table_user_box{
    width:30%;
}
.table_timesheet {
    width: 70%;
    border: 1px solid gray;
}
.table_row{
    display:flex;
    flex-flow:row nowrap;
    height: 21px;
}

.table_title_month_row{
    width: 100%;
    display:flex;
    flex-flow:row nowrap;
    text-align: center;
    height: 26px;
}

.table_title_month_row>div:nth-of-type(2){
    width: 80%;
}

.arrows{
    width:10%;
    height:26px;
    cursor:pointer;
}
.arrows>img{
    width: 34%;
    height: 26px;
}
.table_title_days_row{
    width: 100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
}
.table_title_day_box{
    width:3.2%;
    text-align: center;
    font-size: 12px;
}
.dayOutlet{
    background-color:red;
}
.table_row_id {
    width: 5%;
}
.table_row_name {
    width: 95%;
}

.dayShift{
    display:flex;
    justify-content:center;
    align-items:center;
    width:2.2%;
    cursor:pointer;
}
.absence_day {
    width: 70%;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid gray;
}
.hooky_day {
    width: 70%;
    text-align: center;
    background-color: red;
    border: 1px solid gray;
}
.outlet_day {
    width: 70%;
    text-align: center;
    background-color: yellow;
    border:1px solid gray;
}
.sick_day {
    width: 70%;
    text-align: center;
    background-color: blue;
    border: 1px solid gray;
}
.full_day {
    width: 70%;
    text-align: center;
    background-color: forestgreen;
    border: 1px solid gray;
}
.all_day {
    width: 70%;
    text-align: center;
}
.full_row{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    height:36px;
    
}
.table_content {
    width: 100%;
    margin-top: 1rem;
}