.content_box{
    width: 100%;
}
.header{
    height:3rem;
    display: flex;
    flex-flow: row nowrap;
    background-color:#C0C0C0 ;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
}
.header_title{
    width: 30%;
    font-family: inglobal;
}
.header_title>p{
    margin: 10px;
}
.header_button_box{
    width:65%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.content{
    margin-top: 1rem;
    width: 100%;
    height: 77vh;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
    width: 7px;
}
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}