.wrapper{
    margin-left: 65px;
    width: 1050px;
    height: 1450px;
    border:1px solid gray;
    overflow: hidden;
}
.header{
    height: 2rem;
    text-align: center;
}
.numorder{
    width: 50px;
    height: 1.8rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid gray;
    display: inline-block;
}
